<ion-view title="Image" id="page3" style="background-color:#48454B;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="image-button-bar2" class=" button-bar "></div>
        <div id="image-button-bar4" class=" button-bar "></div>
        <button id="image-button29" class=" button button-dark  ">Icons</button>
        <button id="image-button25" style="font-weight:300;border-radius:5px 5px 5px 5px;" class=" button button-dark  ">Template</button>
        <button id="image-button30" class=" button button-dark  ">Border</button>
        <a ui-sref="adSize" id="image-button23" class=" button button-dark  ">Ad Size</a>
        <button id="image-button36" class=" button button-dark  ">Text</button>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="image2" id="image-button32" class=" button button-assertive  button-outline ">Next</a>
    </ion-content>
</ion-view>