<ion-view title="Image " id="page9" class=" ">
    <ion-content padding="true"  class="has-header">
      <p ng-repeat="img1 in images">
        <img ng-src="{{img1}}" style="max-width:400px;max-height:350px" />
          <ion-item>{{caption}}</ion-item>
      </p>

        <p id="image2-markdown2"  class=" ">Place a button to link to your website</p>
        <button id="image2-button31" class=" button button-royal  button-block ">Link to website</button>
        <a ui-sref="preview" id="image2-button42" class=" button button-assertive  button-outline ">Next</a>
    </ion-content>
</ion-view>
