<ion-view title="preview" id="page10" style="background-color:#5B367E;" class=" ">
    <ion-content padding="true" style="background: url(img/pOPS7J4TP68fY249Tfww_recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 76px;"></div>
        <button id="preview-button41" class=" button button-balanced  icon ion-android-upload ">Save and upload</button>
    </ion-content>
</ion-view>