<ion-view title="Text" id="page2" style="background-color:#4B4545;" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="text-button34" class=" button button-dark  ">Font</button>
        <button id="text-button39" class=" button button-dark  ">Color</button>
        <button id="text-button40" class=" button button-dark  ">Background color</button>
        <div id="text-button-bar6" class=" button-bar "></div>
        <a ui-sref="adSize" id="text-button33" class=" button button-dark  ">Ad size</a>
        <button id="text-button35" class=" button button-dark  ">Text size</button>
        <button id="text-button19" class=" button button-dark  ">Border</button>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="preview" id="text-button43" class=" button button-assertive  button-outline ">Next</a>
    </ion-content>
</ion-view>