<ion-view title="Video" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/pwhEew6jRNOww4ASkafr_recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <a href="#" onclick="window.open('https://www.google.co.in/', '_system', 'location=yes'); return false;" id="video-button14" class=" button button-royal  button-block ">Browser</a>
        <button id="video-button15" class=" button button-royal  button-block ">Gallery</button>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <button id="video-button12" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block icon ion-upload ">upload</button>
    </ion-content>
</ion-view>