<ion-view title="Welcome" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/ndqKCyCtRnOvKxRHcypZ_recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <a ui-sref="video" id="welcome-button9" class=" button button-royal  button-block ">Video</a>
        <div class="spacer" style="width: 300px; height: 36px;"></div>
        <a ui-sref="image" id="welcome-button10" class=" button button-royal  button-block ">Image</a>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <a ui-sref="text" id="welcome-button11" class=" button button-royal  button-block ">Text</a>
    </ion-content>
</ion-view>